<div class="ae-grid">
  <div class="ae-grid__item item-lg-6 item-lg--offset-7">
    <h4 class="ae-u-bolder au-mb-3 conatct__title">Contact Us</h4>
    <p class="au-mb-4 contact__desc">Say hello using the <a href="#contact-form">contact form </a>below! <br>We're standing by to help.</p>
  </div>
</div>
<div class="ae-grid">
  <div class="ae-grid__item item-lg-6">
    <div id="map-container">
      <div id="map"></div>
    </div>
  </div>
  <div class="ae-grid__item item-lg-6">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-2 au-v-hidden au-lg-v-visible">
        <button id="map-arrow" class="arrow-button arrow-button--nospace arrow-button--center arrow-button--flip">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg>
        </button>
      </div>
      <div class="ae-grid__item item-lg-10 au-xs-ta-center au-lg-ta-left">
        <p class="au-mb-4 contact__addr">123 Everystreet Crescent<br>Somewheresville, CA<br>12345 USA</p>
        <p> <span class="contact__phone"> <span class="rk-light-color">Phone  </span> (301) 123-4567</span><br><span class="contact__email au-block au-truncate"> <span class="rk-light-color">Email &nbsp;&nbsp; </span><a href="#0">infocompany@contact.com</a></span></p>
      </div>
      <div class="contact_spacer au-none au-lg-block"></div>
    </div>
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-12">
        <form id="contact-form" action="#0" class="ae-form--full">
          <input type="text" placeholder="* Name" required>
          <input type="email" placeholder="* Email" required>
          <textarea placeholder="Message ..." cols="30" rows="4"></textarea>
          <p class="au-xs-ta-right au-pt-4 group-buttons"><a href="#0" class="arrow-button arrow-button--right arrow-button--out">Send<span class="arrow-cont">
                <svg>
                  <use xlink:href="assets/img/symbols.svg#arrow"></use>
                </svg></span></a></p>
        </form>
      </div>
    </div>
  </div>
</div>

