<div class="ae-grid__item item-lg-10">
  <h2>Registrar Blog</h2>
  <form [formGroup]="blogForm" (ngSubmit)="registrarBlog()" class="ae-form--full">
    <input formControlName="titulo" type="text" placeholder="* Titulo" required>
    <div *ngIf="blogForm?.get('titulo')?.errors && blogForm?.get('titulo')?.touched">
      <p *ngIf="blogForm?.get('titulo')?.hasError('required')" class="error-message">{{ validar.titulo[0].message }}</p>
    </div>

    <input formControlName="autor" type="text" placeholder="* Autor" required>
    <div *ngIf="blogForm?.get('autor')?.errors && blogForm?.get('autor')?.touched">
      <p *ngIf="blogForm?.get('autor')?.hasError('required')" class="error-message">{{ validar.autor[0].message }}</p>
    </div>



    <p class="au-xs-ta-right au-pt-4 group-buttons"><button type="submit" class="arrow-button arrow-button--right arrow-button--out">
      Registrar<span class="arrow-cont">
          <svg>
            <use xlink:href="assets/img/symbols.svg#arrow"></use>
          </svg></span></button></p>
  </form>
</div>


<div *ngFor="let item of blogs">
<div class="card" style="width: 18rem;">
  <img src="{{item.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{item.titulo}}</h5>
    <p class="card-text">{{item.contenido}}</p>
    <a href="#" class="btn btn-primary">{{item.fecha}}</a>
  </div>
</div>
</div>
